/*Delete me and start writing your CSS here. Don't forget to save as you go!*/


.story {

	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.story-body { 

font-family: "Noto Sans", sans-serif;
font-size: 20px;

 }